.container {
	max-width: 540px;
	width: 90%;

	&.-small {
		max-width: 360px;
	}

	&.-large {
		max-width: 800px;
	}

	&.main {
		margin-top: 50px;
	}
}

nav {
	margin-top: 1em;
}

.skill-col {
	position: relative;

	& + & {
		margin-top: 2em;

		@include breakpoint($on-large) {
			margin-top: 0;
			margin-left: 4em !important;
		}
	}

	.skill-icon {
		font-size: 2.2rem;

		@include breakpoint($on-large) {
			position: absolute;
			transform: translateX(calc(-100% - .5em));
		}
	}
}
