
.TagList {
	list-style: none;
	line-height: 2;

	li {
		border-radius: 16px;
		color: #fff;
		line-height: 1.65;
		font-size: 1.2rem;
		display: inline-block;
		padding: 4px 12px;
		background-color: rgba(#419BF9, .75);	
	}
}

.WorkTable {
	@extend .-box-shadow;
	margin-bottom: 1em;
	border: 1px solid #e7e7e9;
	border-bottom-color: #dfdfe2;
	border-radius: 3px;
	background: #fff;
	font-size: 1.6rem;
	border-collapse: collapse;
	width: 100%;

	tr, td {
		display: block;
	}

	tr:nth-of-type(2n) {
		@extend .-transition;
		background: #F6F7F9;
	}

	td {
		padding: 10px 20px 0;
	}

	td:last-of-type {
		padding-bottom: 10px;
	}

	td:first-of-type:first-line {
		font-weight: 600;
	}

	@include breakpoint($on-medium) {
		tr {
			display: table-row;
		}

		td {
			display: table-cell;
			padding-bottom: 10px;
		}
	}
}

.-dark .WorkTable {
	background: transparent;

	tr:nth-of-type(2n) {
		background: #3F434C;
	}
}