---
layout: default
permalink: /blog/
title: Blog
---

<section class="main container -large _center">
	<table class="posts-list">
		<thead>
			<td><i class="ion-calendar"></i></td>
		</thead>
		{% for post in site.posts %}
		<tr>
			<td><date>{{ post.date | date: "%b %-d, %Y" }}</date></td>
			<td>
				{% unless post.link %}
				<h2 class="type-{{ post.layout}}">
					<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
				</h2>

					{% if post.layout == "post" %}
					<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncate: 120 }}</p>
					{% endif %}
				{% endunless %}

				{% if post.link %}
				<a href="{{ post.link }}">
					<h2 class="box">{{ post.title | escape }} <i class="ion-arrow-right-c"></i></h2>
				</a>
				{% endif %}
			</td>
		</tr>

		{% endfor %}
	</table>
</section>