---
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Seba.萌え / 410 Gone</title>

	<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url | prepend: site.url }}">
	<link href="https://micro.blog/Eroica" rel="me" />

	<style>
		#lua-android path, #lua-android line, #lua-android polyline {
			stroke: #d4d9de;
			stroke-width: 3px;
		}
		#lua-android path {fill: transparent; }

		.-dark #lua-android path, .-dark #lua-android line, .-dark #lua-android polyline {stroke: #fff; }

		#android path, #android line, #android polyline {stroke: #a5d691; }

		#lua-android {
			width: 128px;
			height: 128px;
		}

		#lua-inner-moon {display: none; }
		.-dark #lua-inner-moon {display: block; }
		.-dark #android {display: none; }
	</style>
</head>


<body class="is-loading no-js spaceList--medium">
	<header class="header container strip--center text--center spaceList">
		<p><a href="/">{% include lua-android-svg.html %}</a></p>

		<p class="switch-row">
			{% include feather/sun.svg %}

			<label class="switch no-label">
				<input type="checkbox" class="switch-input" onchange="toggleDarkness(event);">
				<span class="switch-trough"></span>
				<span class="switch-handle"></span>
			</label>

			{% include feather/moon.svg %}
		</p>

		<script>
			(function () {
				var $body = document.querySelector("body");
				var currentHours = (new Date()).getHours();
				var isDarkHours = currentHours >= 21 || currentHours < 8
				var wantsDarkMode = window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches;

				if (isDarkHours || wantsDarkMode) {
					$body.classList.add("-dark");
					document.querySelector(".switch > input").checked = true;
				} else {
					document.querySelector(".switch > input").checked = false;
				}
			})();
		</script>
	</header>

	<main class="container -small spaceList strip--text strip--center">
		<h1 class="text--center"><span class="badge -red">410 Gone</span></h1>

		<p>This was the place of <strong>Seba.萌え.</strong> I’m not looking into freelance development anymore.</p>

		<ul class="icon-links text--pale spaceList--small text--small">
			{% for link in site.data.urls %}
			{% assign icon = link[1].icon %}
			<li><a class="{{ link[0] }} row--small" href="{{ link[1].url }}" {% if link[0] == "mastodon" %}rel="me"{% endif %}>{% include {{ icon }} %}<span>{{ link[1].url }}</span></a></li>
			{% endfor %}
		</ul>
	</main>

	<footer class="footer container -small strip--text spaceList--small strip--center">
		<p class="text--center" style="pointer-events: none">※</p>
		<p class="text--center text--small"><strong>© 2019, seba.moe</strong></p>
		<p class="text--small">The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons</a> 3.0 Attribution License.</p>
	</footer>

	<script>
		"use strict";

		{% include js/walkway.min.js %}

		var $body;

		function toggleDarkness (event) {
			$body.classList.toggle("-dark");
			$body.classList.contains("-dark")
			? (new Walkway("#lua-inner-moon")).draw()
			: (new Walkway({
				selector: "#android",
				duration: 1500,
			})).draw();
		}

		window.addEventListener("load", function () {
			$body = document.querySelector("body");
			$body.classList.remove("is-loading");
			$body.classList.remove("no-js");
		});
	</script>
</body>
</html>
