<footer class="Fz(.875rem) footer colored-links Op(.7) Mb(50px)">
	<div class="container -small Mx(a)" data-vbox="-small">
		<p class="Ta(c)">© 2021–2025. Last update: November 21st, 2025</p>
		<p class="">The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons</a> 3.0 Attribution License.</p>
		<p class="Ta(c)">Always get enough sleep.</p>
	</div>
</footer>

<footer class="Fz(.875rem) box colored-links" data-vbox="-small">
	<p>The droid you are looking for is on another protocol.</p>
	<p style="font-family: 'Microsoft JhengHei', sans-serif;">為了守護咱的夢 成做更加勇敢的人 現在是彼一工 勇敢的台灣人。</p>
</footer>
