<footer class="Fz(.875rem) footer container colored-links Op(.7) Mb(50px)">
	<div class="container -small Mx(a)" data-vbox="-small">
		<p class="Ta(c)">Always get enough sleep.</p>
		<p class="Ta(c)">© 2021–2025. Last update: August 1st, 2025</p>
		<p class="">The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons</a> 3.0 Attribution License.</p>
	</div>
</footer>
