<footer class="Fz(14px) footer container -small colored-links Op(.7) Mb(50px)" data-vbox="-small">
	<p class="Ta(c) Pe(n) text--pale">{% include feather/moon.svg %}</p>
	<p class="Ta(c)">Always get enough sleep.</p>
	<p class="Ta(c)">© 2023. Last update: April 1st, 2023.</p>
	<p class="">The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons</a> 3.0 Attribution License.</p>
</footer>
