<div id="header">
	<nav id="nav">
		<ul>
			<li><a href="https://github.com/Eroica" class="icon fa-github"></a></li>
			<li><a href="https://eroicaio.tumblr.com" class="icon fa-tumblr"></a></li>
			<li><a href="https://twitter.com/MyEroica" class="icon fa-twitter"></a></li>
			<li><a href="#contact" class="button icon fa-envelope">E-Mail</a></li>
			<!-- <li class="active flag">
				{% if page.title == "中文版" %}
				<a href="{{ "/" | prepend: site.baseurl }}">English</a>
				{% else %}
				<a href="{{ "/zh/" | prepend: site.baseurl }}">中文版</a>
				{% endif %}
				</li> -->
		</ul>
	</nav>
</div>