@charset "utf-8";

$xs: 0;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$accent-color: #419BF9;
$blue-hue-1: #419BF9;
$blue-hue-2: #1081f7;
$font-color-dark: #323346;
$font-color-pale: #999999;

$dark-hue-1: #2d3741;
$dark-hue-2: #38434c;
$dark-hue-3: #59656b;

$easing: cubic-bezier(.02,.98,.46,.95);

@mixin breakpoint($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}

{% include css/destyle.css %}
{% include css/atomic.css %}
@import "notosans";

@import "layouts";
@import "helpers";

@import "page";
@import "typography";
@import "containers";

@import "components/badge";
@import "components/box";
@import "components/switch";
