@charset "utf-8";

$xs: 0;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$accent-color: #419BF9;
$blue-hue-1: #419BF9;
$blue-hue-2: #3276bd;
$font-color-dark: #314c6b;
$font-color-pale: #8f97a3;

$dark-hue-1: #2d3741;
$dark-hue-2: #38434c;
$dark-hue-3: #59656b;

$easing: cubic-bezier(.02,.98,.46,.95);

@mixin breakpoint($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}

{% include css/destyle.css %}
{% include css/atomic.css %}

// This is to disable the custom font on GitHub pages
{% unless site.github %}
{% include css/MyFontsWebfontsKit.css %}
{% endunless %}

@import "layouts";
@import "helpers";

@import "page";
@import "typography";
@import "containers";

@import "components/switch";
@import "components/box";
