<div class="plan colored-links container -medium">
	{% include feather/star.svg %}

	<p>Working on 2D and 3D graphical stuff.</p>

	<p><strong>Paletti:</strong> Creates a color palette off an image <span class="text--small">(<a href="https://github.com/Eroica/Paletti">GTK/Vala version</a>, <a href="https://github.com/Eroica/Paletti-Windows">Windows/JavaFX version</a>)</span>.</p>

	<p><a href="https://developer.blender.org/D8954">A patch which <strong>adds a Bisect modifier to Blender</strong></a>.</p>

	<p><a href="{% link 303.html %}">A collection of links</a>.</p>
</div>
