<pre>$ <span class="command">finger </span><span class="brackets">(</span><span class="command">whoami</span><span class="brackets">)</span></pre>
<pre><code>{% if site.is_github %}Login: Eroica
Directory: /Users/Eroica              	Shell: /usr/local/bin/fish{% else %}Login: Seba           			Name: Sebastian Spaar
Directory: /Users/Seba              	Shell: /usr/local/bin/fish{% endif %}
On since Sat Sep  9 15:54 (CEST) on console, idle 2:38 (messages off)
No Mail.
Mail forwarded to: seba79@mailbox.org
Project: Preparing a talk on libGDX on Android
Plan:
- Android apps (Kotlin, Java)
- Gtk+ and Qt applications (C++, Lua, Python, Vala)
- Front-end development
- Lua frameworks (LÖVE, Torch)</code></pre>
