button, .button {
	@extend .-transition;
	font-family: inherit;
	font-size: 1.4rem;
	cursor: pointer;
	display: inline-block;
	border-radius: 3px;
	padding: .5em 1em;
	border: 1px solid #e7e7e9;
	color: #404040;

	&:hover {
		border-color: #469DF6;
		text-decoration: none;
	}

	&.-primary {
		background: #469DF6;
		border-color: darken(#469DF6, 20);
		color: #fff;
	}

	&.-small {
		font-size: 1.3rem;
	}
}

.-dark button, .-dark .button {
	border-color: rgba(#e7e7e9, .5);
	color: #fff;

	&:hover {
		border-color: #469DF6;
		color: #469DF6;
	}

	&.-primary {
		background: #469DF6;
		border-color: darken(#469DF6, 20);
		color: #fff;
	}
}