.-transition { transition: all .2s ease-in-out }
._text-left { text-align: left }
._text-center { text-align: center }
._text-right { text-align: right }
._center { margin-left: auto; margin-right: auto }
.-box-shadow {
	@extend .-transition;
	// box-shadow: 0px 4px 0px #f9f9fa;
	box-shadow: 0px 1px 0px #e7e8ec;
	box-shadow: 0px 1px 0px #C8D7E1;
}

.-dark .-box-shadow {
	box-shadow: 0px 2px 0px #404040;
}