.container {
	max-width: 100%;
	width: 79ch;

	&.-small {width: 48ch; }
	&.-medium {width: 60ch; }
}

.header {
	margin-top: 10px;
	transition: margin-top .2s $easing;

	@include breakpoint($md) {
		margin-top: 50px;
	}
}

.plan {
	position: relative;
	padding-top: 3em;

	&::before {
		display: block;
		width: 24px;
		height: 24px;
		line-height: 20px;
		counter-increment: plan;
		content: counter(plan);
		position: absolute;
		top: 0;
		left: calc(50% - 12px);
		color: $font-color-pale;
		opacity: .5;
		border: 2px solid $font-color-pale;
		border-radius: 50%;
		text-align: center;
		font-weight: 600;
	}

	@include breakpoint($md) {
		padding-top: 0;

		&::before {
			top: .1rem;
			left: -2.5rem;
		}
	}
}
