.container {
	max-width: 100%;
	width: 40rem;

	&.-small {width: 30rem; }
	&.-large {width: 50rem; }
}

.header {
	margin-top: 10px;
	transition: margin-top .2s $easing;

	@include breakpoint($md) {
		margin-top: 50px;
	}
}

.footer {
	opacity: .7;
	margin-bottom: 50px;
}
