.container {
	max-width: 100%;
	width: 50rem;

	&.-small {width: 36rem; }
	&.-large {width: 60rem; }
}

.header {
	margin-top: 24px;
	transition: margin-top .2s $easing;

	@include breakpoint($md) {
		margin-top: 50px;
	}
}

.footer {
	opacity: .7;
	margin-bottom: 50px;
}
