@font-face {
    font-family: 'superscriptregular';
    src: url('../fonts/superscript/superscr-webfont.eot');
    src: url('../fonts/superscript/superscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/superscript/superscr-webfont.woff2') format('woff2'),
         url('../fonts/superscript/superscr-webfont.woff') format('woff'),
         url('../fonts/superscript/superscr-webfont.ttf') format('truetype'),
         url('../fonts/superscript/superscr-webfont.svg#superscriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}