@media (min-width: $on-small) {
	.row {
        display: flex;
        flex-flow: row nowrap;
		
		> .col {
			flex: 1;
		}

		> .col + .col {
			margin-left: 2em;
			margin-top: 0;
		}
    }
    
    .row.-align-top { align-items: flex-start }
	.row.-middle { align-content: center; align-items: center }
	.row.-no-wrap { flex-wrap: nowrap }
}