nav {
	text-align: center;
}

.header {
	text-align: center;

	.icon {
		vertical-align: middle;

		&:before {
			vertical-align: middle;
		}
	}

	.switch {
		vertical-align: middle;
	}
}

.taglines {
	color: rgba(#404040, .5);
	margin-top: 1em;

	span:first-of-type {
		color: #404040;
	}
}

.-dark .taglines {
	@extend .-transition;
	color: #e6e6e6;

	span:first-of-type {
		color: rgba(#e6e6e6, .5);
	}
}