nav {
	text-align: center;
}

.header {
	text-align: center;

	.icon, .icon:before, .switch {
		font-size: 2.4rem;
		vertical-align: middle;
	}
}

.taglines {
	color: rgba(#404040, .25);
	margin-top: 1em;
	transition: color .2s ease-in-out;

	span:first-of-type {
		transition: color .2s ease-in-out;
		color: #404040;
	}
}

.-dark .taglines {
	color: #e6e6e6;

	span:first-of-type {
		color: rgba(#e6e6e6, .25);
	}
}