svg {
	path, line, polyline {
		stroke: #d4d9de;
		stroke-width: 3px;
	}

	path {
		fill: transparent;
	}
}

.-dark path, .-dark line, .-dark polyline {
	stroke: #fff;
}

.kotlin-logo path {
	stroke-width: 5px;
}

#android path, #android line, #android polyline {
	stroke: lighten(#77c159, 15);
}

#lua-android {
	width: 128px;
	height: 128px;
}

#lua-inner-moon {
	display: none;
}

.-dark #lua-inner-moon {
	display: block;
}

.-dark #android {
	display: none;
}