path, line, polyline {
	stroke: darken(#e7e7e9, 10);
	stroke-width: 2px;
}

#android path, #android line, #android polyline {
	stroke: #77c159;
}

.-dark path, .-dark line, .-dark polyline {
	stroke: #fff;
}

path {
	fill: transparent;
}

polyline {
	stroke-width: 1px;
}

.icon {
	font-size: 2.4rem;
}

#lua-android {
	width: 128px;
	height: 128px;
}

#lua-inner-moon {
	display: none;
}

.-dark #lua-inner-moon {
	display: block;
}

.-dark #android {
	display: none;
}