html, body {
    height: 100%;
    background: #232025;
    color: #fffed4;
    font-family: "superscriptregular";
}

main {
    height: 100%;

    > section {
        @include center(1024px, 1em);
        height: 100%;

        > div {
            display: table;
            width: 100%;
            height: 100%;

            > article {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}