$PREFIX: "data-";

[#{$PREFIX}Alignment] {
	&[#{$PREFIX}Alignment~="-center"] > * {
		margin-left: auto;
		margin-right: auto;
	}
	&[#{$PREFIX}Alignment~="-middle"] > * { vertical-align: middle; }
}

[#{$PREFIX}VBox] {
	> * + * {margin-top: 1em; }
	&[#{$PREFIX}VBox~="-small"] > * + * {margin-top: .5em; }
	&[#{$PREFIX}VBox~="-medium"] > * + * {margin-top: 2em; }
}

[#{$PREFIX}HBox] {
	> *:not(:last-child) { margin-right: 1em; }
	&[#{$PREFIX}HBox~="-small"] > *:not(:last-child) { margin-right: .5em; }
}

[#{$PREFIX}Flow] {
	display: flex;
	&[#{$PREFIX}Flow~="baseline"] {align-items: baseline}
}
