$PREFIX: "data-";

[#{$PREFIX}Alignment] {
	&[#{$PREFIX}Alignment~="-center"] > * {
		margin-left: auto;
		margin-right: auto;
	}
	&[#{$PREFIX}Alignment~="-middle"] > * { vertical-align: middle; }
}

[#{$PREFIX}Insets] {
	&[#{$PREFIX}Insets~="-top"] > * {padding-top: 24px; }
	&[#{$PREFIX}Insets~="-right"] > * {padding-right: 24px; }
	&[#{$PREFIX}Insets~="-bottom"] > * {padding-bottom: 24px; }
	&[#{$PREFIX}Insets~="-left"] > * {padding-left: 24px; }
}

[#{$PREFIX}VBox] {
	> * + * {margin-top: 1em; }
	&[#{$PREFIX}VBox~="-small"] > * + * {margin-top: .5em; }
	&[#{$PREFIX}VBox~="-medium"] > * + * {margin-top: 2em; }
}

[#{$PREFIX}HBox] {
	> *:not(:last-child) { margin-right: 1em; }
	&[#{$PREFIX}HBox~="-small"] > *:not(:last-child) { margin-right: .5em; }
}

.switch-row {
	> * {height: calc(1em*1.5); }
	svg {padding: 2px; }
}

.icon-span {
	svg {
		width: 1em;
		height: 1em;
		position: relative;
		bottom: -0.175em;
	}
}
