ul.-no-bullets {list-style: none; }

ul.social-links {
	margin-top: 1em;
	list-style: none;
	font-size: 3.0rem;
	color: rgba(0, 0, 0, .4);

	a {
		color: inherit;
	}

	li {
		padding-right: .5em;
		display: inline;
	}
}

.-dark ul.social-links {
	color: #AAB2BD;

	a:hover {
		color: #fff;
	}
}

ul.skill-list {
	list-style: none;
}
