body, input, select, textarea {
	font-family: "NotoSans", "Segoe UI", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	color: $font-color-dark;
	hyphens: auto;

	&.-dark {color: #f6f6f6; }
}

strong, b, .text--strong {
	font-weight: 600;
}
.-dark strong, .-dark b, .-dark .text--strong {color: white; }

del, .text--pale, nav {color: $font-color-pale; }

ins {
	text-decoration: none;
	&::before {
		content: "[!]";
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	color: #484848;
}
.-dark h1, .-dark h2, .-dark h3, .-dark h4, .-dark h5, .-dark h6 {color: #fff;}
h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

main > section:nth-of-type(1) > h2,
nav > span:nth-of-type(1) {color: #0088f3;}
main > section:nth-of-type(2) > h2,
nav > span:nth-of-type(2) {color: #0592e1;}
main > section:nth-of-type(3) > h2,
nav > span:nth-of-type(3) {color: #0a9cd0;}
main > section:nth-of-type(4) > h2,
nav > span:nth-of-type(4) {color: #0fa7be;}
main > section:nth-of-type(5) > h2,
nav > span:nth-of-type(5) {color: #14b1ad;}
main > section:nth-of-type(6) > h2,
nav > span:nth-of-type(6) {color: #1abc9c;}

.a {cursor: pointer}
a, .a {transition: color .2s $easing;}
a, .-dark a strong,
.a, .-dark .a strong {color: inherit;}
.colored-links a, .colored-links .a {
	color: darken($blue-hue-1, 10);
	&:hover {color: $blue-hue-1;}
}
.underlined-links a, .underlined-links .a {
	border-bottom: 1px solid rgba(#8f97a3, .25);
	&:hover {border-color: lighten($blue-hue-1, 10);}
}

img, video {max-width: 100%; }
video {display: block; }

hr {
	display: block;
	border: 0;
	width: 100%;
	height: 2px;
	background-color: #e7e7e9;
	border-radius: 2px;
}
.-dark hr {background-color: rgba(170, 178, 189, .2) }

pre {
	@extend .box;
}

code, kbd {
	font-family: "Cascadia Code", Consolas, Inconsolata, monospace;
}

ul:not(.posts) {
	li {position: relative; }
	li::before {
		@extend .text--pale;
		position: absolute;
		content: "–";
		left: -1em;
	}
}
.-dark ul:not(.dates) > li::before {color: rgba(170, 178, 189, .2); }

ol {
	list-style: decimal;
	margin-left: 24px;
}

ul.posts {list-style: none;}
ul.posts > li {
	padding-top: 1em;
	padding-bottom: 1em;

	> time + * {margin-top: .5em;}

	@include breakpoint($md) {
		display: flex;

		> time {
			flex-basis: 12ch;
			flex-grow: 0;
			flex-shrink: 0;
		}
		> time + * {margin-top: 0;}
	}
}
ul.posts > li + li {
	border-top: 1px solid #eeeeee;
}
.-dark ul.posts > li + li {
	border-color: rgba(170, 178, 189, .2);
}

.no-js .htmx,
.no-js .switch-row {
	display: none;
}

.starred {
	position: relative;
	margin-left: 2em;

	&.rss svg {
		position: absolute;
		left: -2rem;
		top: .25rem;
		width: 20px;
		height: 20px;
	}

	&.star svg {
		position: absolute;
		left: -2rem;
		top: .3rem;
		width: 20px;
		height: 20px;
		stroke: #eea928;
		fill: #ffb436;
	}

	@include breakpoint($md + 300px) {
		margin-left: 0;
	}
}

article h1,
article h2 {
	font-size: 1.1rem;
}
article p + h2 {
	margin-top: 2em !important;
}
