body, input, select, textarea {
	font-family: "Clear Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	color: $font-color-dark;
	letter-spacing: .015em;

	&.-dark {color: #f6f6f6; }
}

strong, b, .text--strong {font-weight: 600; }
.-dark strong, .-dark b, .-dark .text--strong {color: white; }

code, .code, kbd { font-family: "Consolas", "Inconsolata", monospace; }
code, .code {
	padding: 2px 4px;
	background-color: rgba(0, 0, 0, .05);
}
.-dark code, .-dark .code {background-color: rgba(255, 255, 255, .07); }

figure.highlight {
	padding: 1em;
	font-size: 15px;
	background-color: rgba(0, 0, 0, .05);
	overflow-x: scroll;

	code, .code {
		background-color: transparent;
		padding: 0;
	}

	@include breakpoint($md) {
		overflow-x: auto;
	}
}
.-dark figure.highlight {
	background-color: rgba(255, 255, 255, .07);

	code, .code {background-color: transparent;}
}
kbd {
	padding: 2px 4px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 16, 48, .06);
	font-size: 14px;

	& + code {font-size: 14px;}
}
.-dark kbd {color: $font-color-dark;}

.text--center {text-align: center;}
.text--right {text-align: right;}
.text--pale {color: $font-color-pale; }
.text--large {font-size: 1.2rem; }
.text--small {font-size: .95rem; }
.text--xsmall {font-size: 14px; }
.text--title {
	color: $font-color-pale;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h1, h2 {
	@extend .text--large;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	letter-spacing: 0;
}

a {
	transition: color .2s $easing;
	color: inherit;
}
.colored-links a {
	color: $blue-hue-1;
	&:hover {color: lighten($blue-hue-1, 10); }
}

img, video {max-width: 100%; }
video {display: block; }

blockquote {
	@extend [data-VBox];
	position: relative;
	margin-left: 2em;
	text-indent: -.45em;

	&::after {
		@extend .text--pale;
		display: block;
		margin-left: 1em;
		content: "—" attr(cite);
	}

	p:not(:first-of-type) {
		text-indent: 0;
	}
}

hr {
	display: block;
	border: 0;
	width: 100%;
	height: 1px;
	background-color: #e0e5ea;
}
.-dark hr {background-color: rgba(170, 178, 189, .2) }

#HomeLink {font-size: 0; }

figure {
	padding-top: 2em;
	padding-bottom: 2em;

	figcaption {
		@extend .text--small;
		@extend .text--pale;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
		max-width: 80%;
	}
}

.footnote {
	@extend .text--small;
	text-indent: -.45em;

	svg {
		position: relative;
		vertical-align: middle;
		bottom: .1em;
	}
}

ul {
	li {position: relative; }
	li::before {
		@extend .text--pale;
		position: absolute;
		content: "–";
		left: -1em;
	}
}
.-dark ul li::before {color: rgba(170, 178, 189, .2); }
.timeline ul, .post ul {margin-left: 24px; }

ol {
	list-style: decimal;
	margin-left: 24px;
}
