@charset "utf-8";


@font-face {
    font-family: 'Nunito';
    src: url('/fonts/nunito-light-webfont.woff2') format('woff2'),
         url('/fonts/nunito-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('/fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/nunito-semibold-webfont.woff2') format('woff2'),
         url('/fonts/nunito-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

$on-xsmall: 480px;
$on-small: 540px;
$on-medium: 720px;
$on-large: 1200px;

$accent-color: #419BF9;
// $font-color-dark: #495057;
$font-color-dark: rgb(82, 97, 115);
$font-color-blue: #329af0;

@mixin breakpoint($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Grid & Reset.
@import 'reset';
@import 'grid';

// Components.
@import 'components';
@import 'icon';

// Base.
@import 'page';
@import 'typography';
@import 'lists';
@import 'buttons';

// Entities.
@import 'entities/box';
@import 'entities/containers';
@import 'entities/footer';
@import 'entities/header';
@import 'entities/switch';
@import 'entities/terminal';
@import 'entities/worktable';