@charset "utf-8";

@font-face {
    font-family: 'Clear Sans';
    src: url('/fonts/ClearSans-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('/fonts/ClearSans-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('/fonts/ClearSans-Italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('/fonts/ClearSans-Medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

$xs: 0;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$accent-color: #419BF9;
//$font-color-dark: #495057;
$font-color-dark: rgb(82, 97, 115);
$font-color-blue: #329af0;


@mixin breakpoint($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Grid & Reset.
@import 'reset';
@import 'flexboxgrid/flexbox-grid';

// Components.
@import 'components';
@import 'icon';

// Base.
@import 'page';
@import 'typography';
@import 'lists';
@import 'buttons';

// Entities.
@import 'entities/box';
@import 'entities/containers';
@import 'entities/footer';
@import 'entities/header';
@import 'entities/switch';
