body:not(.-dark) .highlight .hll { background-color: #ffffcc }
body:not(.-dark) .highlight  { background: #f8f8f8; }
body:not(.-dark) .highlight .c { color: #8f5902; font-style: italic } /* Comment */
body:not(.-dark) .highlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
body:not(.-dark) .highlight .g { color: #000000 } /* Generic */
body:not(.-dark) .highlight .k { color: #204a87; font-weight: bold } /* Keyword */
body:not(.-dark) .highlight .l { color: #000000 } /* Literal */
body:not(.-dark) .highlight .n { color: #000000 } /* Name */
body:not(.-dark) .highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
body:not(.-dark) .highlight .x { color: #000000 } /* Other */
body:not(.-dark) .highlight .p { color: #000000; font-weight: bold } /* Punctuation */
body:not(.-dark) .highlight .ch { color: #8f5902; font-style: italic } /* Comment.Hashbang */
body:not(.-dark) .highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
body:not(.-dark) .highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
body:not(.-dark) .highlight .cpf { color: #8f5902; font-style: italic } /* Comment.PreprocFile */
body:not(.-dark) .highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
body:not(.-dark) .highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
body:not(.-dark) .highlight .gd { color: #a40000 } /* Generic.Deleted */
body:not(.-dark) .highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
body:not(.-dark) .highlight .gr { color: #ef2929 } /* Generic.Error */
body:not(.-dark) .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body:not(.-dark) .highlight .gi { color: #00A000 } /* Generic.Inserted */
body:not(.-dark) .highlight .go { color: #000000; font-style: italic } /* Generic.Output */
body:not(.-dark) .highlight .gp { color: #8f5902 } /* Generic.Prompt */
body:not(.-dark) .highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
body:not(.-dark) .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body:not(.-dark) .highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
body:not(.-dark) .highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
body:not(.-dark) .highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
body:not(.-dark) .highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
body:not(.-dark) .highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
body:not(.-dark) .highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
body:not(.-dark) .highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
body:not(.-dark) .highlight .ld { color: #000000 } /* Literal.Date */
body:not(.-dark) .highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
body:not(.-dark) .highlight .s { color: #4e9a06 } /* Literal.String */
body:not(.-dark) .highlight .na { color: #c4a000 } /* Name.Attribute */
body:not(.-dark) .highlight .nb { color: #204a87 } /* Name.Builtin */
body:not(.-dark) .highlight .nc { color: #000000 } /* Name.Class */
body:not(.-dark) .highlight .no { color: #000000 } /* Name.Constant */
body:not(.-dark) .highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
body:not(.-dark) .highlight .ni { color: #ce5c00 } /* Name.Entity */
body:not(.-dark) .highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
body:not(.-dark) .highlight .nf { color: #000000 } /* Name.Function */
body:not(.-dark) .highlight .nl { color: #f57900 } /* Name.Label */
body:not(.-dark) .highlight .nn { color: #000000 } /* Name.Namespace */
body:not(.-dark) .highlight .nx { color: #000000 } /* Name.Other */
body:not(.-dark) .highlight .py { color: #000000 } /* Name.Property */
body:not(.-dark) .highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
body:not(.-dark) .highlight .nv { color: #000000 } /* Name.Variable */
body:not(.-dark) .highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
body:not(.-dark) .highlight .w { color: #f8f8f8; } /* Text.Whitespace */
body:not(.-dark) .highlight .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
body:not(.-dark) .highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
body:not(.-dark) .highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
body:not(.-dark) .highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
body:not(.-dark) .highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
body:not(.-dark) .highlight .sa { color: #4e9a06 } /* Literal.String.Affix */
body:not(.-dark) .highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
body:not(.-dark) .highlight .sc { color: #4e9a06 } /* Literal.String.Char */
body:not(.-dark) .highlight .dl { color: #4e9a06 } /* Literal.String.Delimiter */
body:not(.-dark) .highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
body:not(.-dark) .highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
body:not(.-dark) .highlight .se { color: #4e9a06 } /* Literal.String.Escape */
body:not(.-dark) .highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
body:not(.-dark) .highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
body:not(.-dark) .highlight .sx { color: #4e9a06 } /* Literal.String.Other */
body:not(.-dark) .highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
body:not(.-dark) .highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
body:not(.-dark) .highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
body:not(.-dark) .highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
body:not(.-dark) .highlight .fm { color: #000000 } /* Name.Function.Magic */
body:not(.-dark) .highlight .vc { color: #000000 } /* Name.Variable.Class */
body:not(.-dark) .highlight .vg { color: #000000 } /* Name.Variable.Global */
body:not(.-dark) .highlight .vi { color: #000000 } /* Name.Variable.Instance */
body:not(.-dark) .highlight .vm { color: #000000 } /* Name.Variable.Magic */
body:not(.-dark) .highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */

/*! darkocean; http://bytefluent.com/devify/ */
.-dark .highlight, .-dark .highlight pre, .-dark .highlight table { background: transparent !important; color: #e0ffff !important; }
.-dark .highlight .hll { background-color: #ffffcc !important; }
.-dark .highlight .c { color: #8db6cd !important; background-color: #102520 !important; } /* Comment */
.-dark .highlight .err { color: #e0ffff !important; } /* Error */
.-dark .highlight .g { color: #e0ffff !important; } /* Generic */
.-dark .highlight .k { color: #72a5ee !important; } /* Keyword */
.-dark .highlight .l { color: #e0ffff !important; } /* Literal */
.-dark .highlight .n, .-dark .highlight .h { color: #e0ffff !important; } /* Name */
.-dark .highlight .o { color: #e0ffff !important; } /* Operator */
.-dark .highlight .x { color: #e0ffff !important; } /* Other */
.-dark .highlight .p { color: #e0ffff !important; } /* Punctuation */
.-dark .highlight .cm { color: #8db6cd !important; background-color: #102520 !important; } /* Comment.Multiline */
.-dark .highlight .cp { color: #c12869 !important; } /* Comment.Preproc */
.-dark .highlight .c1 { color: #8db6cd !important; background-color: #102520 !important; } /* Comment.Single */
.-dark .highlight .cs { color: #8db6cd !important; background-color: #102520 !important; } /* Comment.Special */
.-dark .highlight .gd { color: #e0ffff !important; background-color: #7e354d !important; } /* Generic.Deleted */
.-dark .highlight .ge { color: #e0ffff !important; } /* Generic.Emph */
.-dark .highlight .gr { color: #ffffe0 !important; background-color: #b22222 !important; } /* Generic.Error */
.-dark .highlight .gh { color: #5cacee !important; } /* Generic.Heading */
.-dark .highlight .gi { color: #e0ffff !important; background-color: #7e354d !important; } /* Generic.Inserted */
.-dark .highlight .go { color: #87cefa !important; background-color: #0f0f0f !important; } /* Generic.Output */
.-dark .highlight .gp { color: #e0ffff !important; } /* Generic.Prompt */
.-dark .highlight .gs { color: #e0ffff !important; } /* Generic.Strong */
.-dark .highlight .gu { color: #5cacee !important; } /* Generic.Subheading */
.-dark .highlight .gt { color: #ffffe0 !important; background-color: #b22222 !important; } /* Generic.Traceback */
.-dark .highlight .kc { color: #72a5ee !important; } /* Keyword.Constant */
.-dark .highlight .kd { color: #72a5ee !important; } /* Keyword.Declaration */
.-dark .highlight .kn { color: #72a5ee !important; } /* Keyword.Namespace */
.-dark .highlight .kp { color: #72a5ee !important; } /* Keyword.Pseudo */
.-dark .highlight .kr { color: #72a5ee !important; } /* Keyword.Reserved */
.-dark .highlight .kt { color: #3b9c9c !important; } /* Keyword.Type */
.-dark .highlight .ld { color: #e0ffff !important; } /* Literal.Date */
.-dark .highlight .m { color: #c34a2c !important; } /* Literal.Number */
.-dark .highlight .s { color: #c34a2c !important; } /* Literal.String */
.-dark .highlight .na { color: #009acd !important; } /* Name.Attribute */
.-dark .highlight .nb { color: #e0ffff !important; } /* Name.Builtin */
.-dark .highlight .nc { color: #e0ffff !important; } /* Name.Class */
.-dark .highlight .no { color: #c34a2c !important; } /* Name.Constant */
.-dark .highlight .nd { color: #e0ffff !important; } /* Name.Decorator */
.-dark .highlight .ni { color: #e0ffff !important; } /* Name.Entity */
.-dark .highlight .ne { color: #3b9c9c !important; } /* Name.Exception */
.-dark .highlight .nf { color: #009acd !important; } /* Name.Function */
.-dark .highlight .nl { color: #3b9c9c !important; } /* Name.Label */
.-dark .highlight .nn { color: #e0ffff !important; } /* Name.Namespace */
.-dark .highlight .nx { color: #e0ffff !important; } /* Name.Other */
.-dark .highlight .py { color: #e0ffff !important; } /* Name.Property */
.-dark .highlight .nt { color: #72a5ee !important; } /* Name.Tag */
.-dark .highlight .nv { color: #009acd !important; } /* Name.Variable */
.-dark .highlight .ow { color: #3b9c9c !important; } /* Operator.Word */
.-dark .highlight .w { color: #e0ffff !important; } /* Text.Whitespace */
.-dark .highlight .mf { color: #c34a2c !important; } /* Literal.Number.Float */
.-dark .highlight .mh { color: #c34a2c !important; } /* Literal.Number.Hex */
.-dark .highlight .mi { color: #c34a2c !important; } /* Literal.Number.Integer */
.-dark .highlight .mo { color: #c34a2c !important; } /* Literal.Number.Oct */
.-dark .highlight .sb { color: #c34a2c !important; } /* Literal.String.Backtick */
.-dark .highlight .sc { color: #c34a2c !important; } /* Literal.String.Char */
.-dark .highlight .sd { color: #c34a2c !important; } /* Literal.String.Doc */
.-dark .highlight .s2 { color: #c34a2c !important; } /* Literal.String.Double */
.-dark .highlight .se { color: #c34a2c !important; } /* Literal.String.Escape */
.-dark .highlight .sh { color: #c34a2c !important; } /* Literal.String.Heredoc */
.-dark .highlight .si { color: #c34a2c !important; } /* Literal.String.Interpol */
.-dark .highlight .sx { color: #c34a2c !important; } /* Literal.String.Other */
.-dark .highlight .sr { color: #c34a2c !important; } /* Literal.String.Regex */
.-dark .highlight .s1 { color: #c34a2c !important; } /* Literal.String.Single */
.-dark .highlight .ss { color: #c34a2c !important; } /* Literal.String.Symbol */
.-dark .highlight .bp { color: #e0ffff !important; } /* Name.Builtin.Pseudo */
.-dark .highlight .vc { color: #009acd !important; } /* Name.Variable.Class */
.-dark .highlight .vg { color: #009acd !important; } /* Name.Variable.Global */
.-dark .highlight .vi { color: #009acd !important; } /* Name.Variable.Instance */
.-dark .highlight .il { color: #c34a2c !important; } /* Literal.Number.Integer.Long */
