.Fz\(\.95rem\) {
  font-size: .95rem;
}
.Fz\(0\) {
  font-size: 0;
}
.Fz\(14px\) {
  font-size: 14px;
}
.Mb\(50px\) {
  margin-bottom: 50px;
}
.Op\(\.7\) {
  opacity: .7;
}
.Px\(24px\) {
  padding-left: 24px;
  padding-right: 24px;
}
.Pe\(n\) {
  pointer-events: none;
}
.Ta\(c\) {
  text-align: center;
}
