.D\(b\) {
  display: block;
}
.Fz\(\.875rem\) {
  font-size: .875rem;
}
.Fz\(0\) {
  font-size: 0;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.Mb\(50px\) {
  margin-bottom: 50px;
}
.Op\(\.7\) {
  opacity: .7;
}
.Px\(24px\) {
  padding-left: 24px;
  padding-right: 24px;
}
.Pe\(n\) {
  pointer-events: none;
}
.Ta\(c\) {
  text-align: center;
}
.Cf:before, .Cf:after {
  content: " ";
  display: table;
}
.Cf:after {
  clear: both;
}
