.Fz\(\.9em\) {
  font-size: .9em;
}
.Fz\(0\) {
  font-size: 0;
}
.Mb\(50px\) {
  margin-bottom: 50px;
}
.Op\(\.7\) {
  opacity: .7;
}
.Px\(24px\) {
  padding-left: 24px;
  padding-right: 24px;
}
.Pe\(n\) {
  pointer-events: none;
}
.Ta\(c\) {
  text-align: center;
}
.Cf:before, .Cf:after {
  content: " ";
  display: table;
}
.Cf:after {
  clear: both;
}
.Cf {
  zoom: 1;
}
