h1 {
	font-size: 1.4rem;
}
h2 {
	font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.\?\?\?\? {
	color: #fff;
	transition: color .2s cubic-bezier(0.02, 0.98, 0.46, 0.95);
}
.-dark .\?\?\?\? {
	color: #212528;
}

.three-columns > *,
.three-columns > * > * + h2 {
	margin-top: 2rem;
}
#FillWidthCheckbox:not(:checked) ~ main .three-columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
}
#FillWidthCheckbox:not(:checked) ~ main .three-columns > *:first-child {
	flex: 1 1 50rem;
	max-width: 50rem;
}
#FillWidthCheckbox:not(:checked) ~ main .three-columns > * {
	flex: 1 1 32rem;
	max-width: 32rem;
	margin-top: 0;
}
