.article-row, .post {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 1em;

	time {
		grid-row: 1;
		grid-column: 2;
		white-space: nowrap;
		text-align: right;
		position: relative;
		top: .15rem;
	}
}
.article-row, .post, .title-row {
	position: relative;
	padding-bottom: 1em;
	border-bottom: 2px solid #dfe4e6;
	transition: border-color .2s $easing;

	> * {
		grid-column: span 2;
	}
	> *:first-child {
		grid-column: 1;
		grid-row: 1;
	}
	time {
		@extend .text--pale;
	}
	a.article-permalink {
		position: absolute;
		color: #fff;
		top: 0.25em;
		right: -30px;
		width: 24px;
		height: 24px;
		text-align: center;
		line-height: 24px;
		border-radius: 50%;
		background-color: $accent-color;
		transition: background-color $easing .2s;

		svg {
			width: 12px;
			height: 12px;
		}

		&:hover {background-color: lighten($accent-color, 10); }
	}
	h1, h2, h2, h3, h4, h5, h6 {
		@extend .text--large;
	}
}
.title-row {
	border-bottom-width: 1px;
}
.article-row {
	@include breakpoint($md) {
		> * {
			grid-column: 1;
		}
	}
}
.title-row {
	@include breakpoint($md) {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 1em;

		time {
			grid-row: 1;
			grid-column: 2;
			white-space: nowrap;
			text-align: right;
			position: relative;
			top: .25rem;
		}
	}
}
.-dark .article-row,
.-dark .post,
.-dark .title-row {
	border-color: rgba(170, 178, 189, .2)
}

.articles-list,
.titles-list {
	margin-right: 12px;
	transition: margin-right .2s $easing;

	@include breakpoint($lg) {
		margin-right: 0;
	}
}
.articles-list .thumbnail {
	@extend ._box-shadow;
	position: relative;
	background-color: rgba(0, 0, 0, .1);

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 50%;
	}

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
.-dark .articles-list .thumbnail {
	background-color: rgba(0, 0, 0, .3);
}
