.timeline {
	.content {padding-bottom: 2em; }

	@include breakpoint($sm) {
		position: relative;

		article {display: table-row; }
		.status, .content {display: table-cell; }
		.content {padding-left: 1em;}

		.status {
			position: relative;
			text-align: center;
			bottom: 2px;

			&::before, &::after {
				position: absolute;
				content: "";
				width: 2px;
				left: calc(50% - 1px);
			}
			&::after {
				top: 0;
				bottom: 0;
				background-color: rgba(224, 229, 234, 1.0);
				z-index: -1;
			}
		}

		article:first-of-type .status::before {
			height: 2em;
			top: -2em;
			background: linear-gradient(to bottom, rgba(224, 229, 234, 0), rgba(224, 229, 234, 1.0));
		}
		article:last-of-type .status::before {
			height: 2em;
			bottom: -2em;
			background: linear-gradient(to bottom, rgba(224, 229, 234, 1.0), rgba(224, 229, 234, 0));
		}
	}
}
.-dark .timeline {
	article:first-of-type .status::before {background: linear-gradient(to bottom, rgba(170, 178, 189, 0), rgba(170, 178, 189, .2));}
	article:last-of-type .status::before {background: linear-gradient(to bottom, rgba(170, 178, 189, .2), rgba(170, 178, 189, 0));}
	.status::after {background-color: rgba(170, 178, 189, .2);}
}

a.article-permalink {
	color: #fff;
	width: 24px;
	height: 24px;
	display: inline-flex;
	border-radius: 50%;
	background-color: #419BF9;
	transition: background-color cubic-bezier(0.02, 0.98, 0.46, 0.95) 0.2s;
	vertical-align: middle;
	align-items: center;
	align-content: center;
	justify-content: center;

	svg {
		width: 12px;
		height: 12px;
	}

	&:hover {
		background-color: lighten($blue-hue-1, 10);
		color: #fff;
	}
}

.articledate {
	@extend .text--small;
	font-weight: 500;
	letter-spacing: 0;
}

@media screen and (max-width: $sm) {
	.content > p > img:only-child,
	.post > p > img:only-child,
	.content > video,
	.post > video {
		margin-left: -24px;
		margin-right: -24px;
		min-width: calc(100% + 48px);
	}
}
