a.article-permalink {
	color: #fff;
	width: 24px;
	height: 24px;
	display: block;
	text-align: center;
	line-height: 24px;
	border-radius: 50%;
	background-color: $blue-hue-1;
	transition: background-color $easing .2s;

	svg {
		width: 12px;
		height: 12px;
	}

	&:hover {
		background-color: lighten($blue-hue-1, 10);
		color: #fff;
	}
}

.article-row, .post {
	> .articledate {
		float: right;
		padding-top: .25em;
		margin-left: 2em;
	}
}

.article-row {
	position: relative;

	.article-permalink {
		position: absolute;
		top: calc(1.2rem * 1.7 / 2 - 12px);
		right: -2em;
	}
}

.article-row {border-bottom: 1px solid #e0e5ea; }
.post {border-bottom: 2px solid #e0e5ea; }
.-dark .article-row, .-dark .post {border-color: rgba(170, 178, 189, .2) }

.article-row,.post {
	padding-bottom: 1em;
	transition: border-color .2s $easing;

	h1, h2, h2, h3, h4, h5, h6 {
		@extend .text--large;
	}

	time {
		@extend .text--pale;
		white-space: nowrap;
		text-align: right;
	}
}

.articles-list {
	margin-right: 12px;
	transition: margin-right .2s $easing;

	@include breakpoint($lg) {
		margin-right: 0;
	}
}

.articles-list .thumbnail {
	@extend ._box-shadow;
	position: relative;
	background-color: rgba(0, 0, 0, .1);

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 50%;
	}

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
.-dark .articles-list .thumbnail {background-color: rgba(0, 0, 0, .3); }
