.badge {
	font-size: 11px;
	text-transform: uppercase;
	background-color: $accent-color;
	color: white;
	font-weight: 600;
	letter-spacing: 1.5px;
	padding: 6px 10px 5px;
	border-radius: 2px;
	border: 1px solid darken($accent-color, 10);

	&.-red {
		background-color: #fa5252;
		border-color: #e03131;
	}
}
