.badge {
	font-size: 11px;
	text-transform: uppercase;
	background-color: $dark-hue-1;
	color: white;
	font-weight: 600;
	letter-spacing: 1.5px;
	padding: 6px 10px 5px;
	border-radius: 2px;
	border: 1px solid $dark-hue-2;

	&.-blue {
		background-color: $accent-color;
		border-color: darken($accent-color, 10);
	}

	&.-red {
		background-color: #fa5252;
		border-color: #e03131;
	}
}

.tag {
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 4px 16px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .05);
	font-size: 11px;
	// Slightly nudge the baseline higher a little bit
	position: relative;
	bottom: .1em;
}
.-dark .tag {background-color: rgba(255, 255, 255, .07)}
