.box {
	border: 1px solid #e7e7e9;
	border-bottom-color: #dfdfe2;
	border-radius: 5px;
	padding: 20px;
	margin-left: -1em;
	margin-right: -1em;
}
.-dark .box {
	border-color: rgba(170, 178, 189, .2);
}
.box.-primary,
.-dark .box.-primary {
	border-color: $accent-color;
}
