@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

.button {
//	@include vendor('transition', 'background-color 0.25s ease-in-out, color 0.25s ease-in-out');
	position: relative;
	display: inline-block;
	padding: 0.25em 1.5em 0.25em 1.5em;
	border: 1px solid #C0C5CE;
	border-radius: 4px;
//	background: #65BAE9;
background: transparent;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	color: #C0C5CE !important;
	cursor: pointer;

	&:hover {
//		background: #74bcdd;
border: 1px solid #fff;
color: #fff !important;
	}

	&.alt {
		background: #4D4F5A;

		&:hover {
			background: #5D5F6A;
		}
	}
}