button, .button {
	font-family: inherit;
	font-size: .9rem;
	cursor: pointer;
	display: inline-block;
	border-radius: 2px;
	padding: .25em .5em;
	border: 1px solid #e7e7e9;
	background-color: #fff;
	color: #404040;
	transition: background-color .2s $easing, color .2s $easing, border-color .2s $easing;

	&:hover {
		background-color: #469DF6;
		border-color: darken(#469DF6, 20);
		color: #fff;
	}
}
.-dark button, .-dark .button {
	border-color: rgba(#e7e7e9, .5);
	background-color: #242424;
}
