@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

form {
	text-align: center;
	
	input[type=text],
	input[type=password],
	select,
	textarea {
//		@include vendor('transition', 'background-color 0.25s ease-in-out');
		-webkit-appearance: none;
		width: 80%;
		padding: 0.5em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		border-radius: 4px;
		border: 1px solid #445058;
		background: transparent;
		outline: none;
		margin-bottom: .5em;

		&:focus {
			border: 1px solid #fff;
		}
	}

	textarea {
		height: 10em;
	}

	.formerize-placeholder, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
		color: #93989f !important;
	}

	::-moz-focus-inner {
		border: 0;
	}

	.button {
		margin-right: 1em;
	}
}