.icon-links svg {
	color: $font-color-pale;
	padding: 2px;
}
.-dark .icon-links svg {color: $font-color-pale; opacity: .5;}
.-dark .icon-links a:hover svg {opacity: 1;}
.icon-links svg {transition: color .2s $easing, opacity .2s $easing; }
.icon-links .github:hover svg {color: #171515; }
.-dark .icon-links .github:hover svg {color: #fff;}
.icon-links .dribbble:hover svg {color: #ea4c89; }
.icon-links .mastodon:hover svg {color: #3088d4; }
.icon-links .twitter svg, .icon-links .artstation svg {
	fill: currentColor;
	stroke: none;
}
.icon-links .artstation:hover svg {color: #13aff0; }
.icon-links .twitter:hover svg {color: #1da1f2; }
.icon-links .rss:hover svg { color: #ff9933  }
