@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

.container {
	overflow: hidden;
	padding: 1em;
	max-width: 800px;
	margin: 0 auto;
}

header img {
	width: 32px;
	vertical-align: middle;
}

header h2 {
	display: inline-block;
	padding-left: .5em;
	
	&.icon::before {
		padding-right: .5em;
	}
}