@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

header {
	margin-bottom: 1.5em;

	h2 {
		font-size: 1.8em;
	}

	.byline {
		display: block;
		margin: 0.8em 0 0 0;
		padding: 0 0 0.5em 0;
		font-size: 1.3em;
		color: rgba(255, 255, 255, 0.7);
	}
}

footer {
	margin-top: 1em;
}

br.clear {
	clear: both;
}

/* Sections/Articles */

section, article {
	margin-bottom: 3em;

	> :last-child, &:last-child {
		margin-bottom: 0;
	}
}

.row {
	> section, > article {
		margin-bottom: 0;
	}
}


