<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="is-loading no-js" data-vbox="-medium" data-alignment="-center" >
	{% include header.html %}

	<main class="container" data-vbox="-medium" data-insets="-left -right">
		{{ content }}

		<ul class="icon-links text--pale text--small" data-vbox="-small">
			{% assign twitter = site.data.urls.twitter %}
			<li><a class="twitter" href="{{ twitter.url }}" data-alignment="-middle" data-hbox="-small">{% include {{ twitter.icon }} %}<span>Tweets</span></a></li>
			{% assign rss = site.data.urls.rss %}
			<li><a class="rss" href="{{ rss.url }}" data-alignment="-middle" data-hbox="-small">{% include {{ rss.icon }} %}<span>RSS Posts</span></a></li>
		</ul>
	</main>

	{% include footer.html %}

	<script>
		"use strict";

		{% include js/main.js %}
	</script>
</body>
</html>
