<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="is-loading no-js" data-vbox="-medium" data-alignment="-center" >
	{% include header.html %}

	<main class="container" data-vbox="-medium" data-insets="-left -right">
		<p class="icon-links"><a class="artstation" href="{{ site.data.urls.artstation.url }}">{% include {{ site.data.urls.artstation.icon }} %}</a> <a class="twitter" href="{{ site.data.urls.twitter.url }}">{% include {{ site.data.urls.twitter.icon }} %}</a> <a class="rss" href="{{ site.data.urls.rss.url }}">{% include {{ site.data.urls.rss.icon }} %}</a></p>

		{{ content }}
	</main>

	{% include footer.html %}

	<script>
		"use strict";

		{% include js/main.js %}
	</script>
</body>
</html>
