<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="is-loading no-js Px(24px)" data-vbox="-medium" data-alignment="-center" >
	{% include header.html %}

	<main class="container" data-vbox="-large">
		{% if page.url != "/" %}
		<nav><span><a href="/">Home</a></span> / <span>Posts</span> / <span>{{ page.title }}</span></nav>
		{% endif %}

		{{ content }}
	</main>

	<p class="Ta(c) Pe(n) text--pale">※</p>

	{% include footer.html %}

	<script nonce="dG1wOTM2Qy50bXA=">
		"use strict";

		let $body;
		let $switch;

		if (sessionStorage.getItem("dark") === "true") {
			document.querySelector("body").classList.add("-dark");
			document.querySelector("input[type='checkbox']").checked = true;
		}

		function toggleDarkness (_) {
			$body.classList.toggle("-dark");
			sessionStorage.setItem("dark", $switch.checked);
		}

		window.addEventListener("load", function () {
			$body = document.querySelector("body");
			$switch = document.querySelector("header input[type='checkbox']");
			$body.classList.remove("is-loading", "no-js");
		});

		document.getElementById("is_darkness").addEventListener("change", toggleDarkness);
	</script>
</body>
</html>
