@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

#footer {
	.container {
		background: #445058;
		height: 32px;

		border-radius: 0 0 8px 8px;
		margin-bottom: 2em;
	}
}