@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

#work .cols {
	display: block;
	vertical-align: top;
	margin: 0 auto;
	max-width: 400px;
	margin-right: .5em;
}

#work .cell {
  display: block;
	border: 1px solid darken(#C0C5CE, 10);
	border-radius: 4px;
	background: #353F45;
	margin: .5em 0;
	overflow: hidden;
	
	img {display: block;}
	span {font-size: 0.8em;}
	h3 {display: inline;}
	span.-more {
		font-family: "Bariol-Regular", serif;
		text-transform: uppercase;
	}
	
	> article {
		border-top: 1px solid darken(#C0C5CE, 10);
		line-height: 1em;
		padding: .5em;
		margin: 0;
	}
}

@include breakpoint(800px) {
	.cols {
		display: inline-block !important;
	}
	
	#one {display: inline-block; max-width: 240px;}
	#two {display: inline-block; max-width: 450px;}
	#three {display: inline-block; max-width: 240px;}
}