@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

body {
	color: #C0C5CE;
	font-size: 1em;
	font-family: "Lato",serif;
	font-weight: 300;
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bariol-Regular", serif;
	color: #FFF;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
}

h2 {font-size: 1.15em;}

a {
	color: #fff;
	&.button::before {padding-right: .5em;}
}

p a, section li a {
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	
	&:hover {border-bottom: 1px solid #c65f63;}
}